 /*先聯結外部字體*/
 
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
 /*米字選取器是萬用就是整個網頁都要遵守 */
 /*font-family字體要先放英文在放中文 */
 
 * {
     /* 強迫所有象素設定padding不會加上去原本寬      就是原本寬不會動     */
     box-sizing: border-box;
     font-family: "Rotobo", "Noto Sans Tc", "sans-serif"
 }
 /*css reset(CSS有預設值的一切歸零)可上網抓別人的複製過來    */
 /*如果要設UL/OL/LI等也可以只是這邊先不設比較方便*/
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
     padding: 0;
 }
 
 p {
     font-size: 14px;
     color: #999;
 }
 /*強迫圖為滿版*/
 
 img {
     width: 100%;
     vertical-align: top;
     /*因為IE會有邊框所以先強制為0*/
     border: 0;
 }
 /*先解決會浮動問題        */
 
 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }
 /*強迫要滿版*/
 
 .full-width {
     width: 100%;
 }